* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.complete_grid {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  margin: 40px auto;
  /* margin-top: 40px; */
  /* border: 10px solid black; */
}
.Header-intro {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  padding: 20px auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

p.Header-intro {
  font-weight: normal;
  text-transform: initial;
}

.box {
  height: 150px;
  width: 150px;
  border: 2px solid #39ff14;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #39ff14;
}

.box:hover {
  cursor: pointer;
  background-color: #39ff14;
  color: black;
}

.box-1 {
  border-left: none;
  border-top: none;
}

.box-2 {
  border-top: none;
}

.box-3 {
  border-right: none;
  border-top: none;
}

.box-4 {
  border-left: none;
}

/* .box-5 {
} */

.box-6 {
  border-right: none;
}

.box-7 {
  border-bottom: none;
  border-left: none;
}

.box-8 {
  border-bottom: none;
}

.box-9 {
  border-bottom: none;
  border-right: none;
}

.Full-content {
  width: 800px;
  height: 800px;
  margin: 50px auto;
  background-color: #f7f7f7;
  border: 10px solid #39ff14;
}

.buttons {
  font-size: 30px;
  height: 140;
  width: 70;
  font-weight: bold;
  padding: 10px 50px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  display: inline-block;
}

.gamestatus {
  display: none;
  font-size: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons:hover {
  cursor: pointer;
  background-color: rgb(21, 233, 187);
}

.button-pos {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.game-info {
  font-size: 120px;
}

.reset {
  font-size: 36px;
  font-weight: bold;
}

.line {
  width: 0;
  height: 3px;
  background-color: black;
  position: absolute;
  top: 225px;
  left: 250px;
  transition: ease-in-out;
}

.boxnline {
  position: relative;
  /* align-items: center;
  justify-content: center; */
}
.gamestatus.show {
  display: flex;
}

.win-image {
  height: 400px;
  width: 500px;
}
